$bg-image: url("./../images/medicine-image.jpeg");
$dark-color: rgb(10, 49, 92);
$bright-color: white;
$grey: darkgrey;
$width-size: 50%;
$height-size: 600px;
$pad10: 10px;
$font-stack: Verdana, Geneva, Tahoma, sans-serif;
